@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
body {
    background: darkslateblue;
    font: normal 14pt Arial;
}
button {
    padding: 30px;
    font-size: 14pt;
    background-color: blueviolet;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}
header {
    color: darkgrey;
    text-align: center;
}
section {
    background: ghostwhite;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
}
input {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
footer {
    color: darkgrey;
    text-align: center;
    font-style: italic;
}

